%p
  Hello, #{@customer.email}!
%p
  Your order has successfully completed. Please visit our site for checking your order status.
%p
  Thanks for choosing us!
%p
  = link_to 'You can check your order status at Bookstore_rg', 'https://staging-damp-dawn-43764.herokuapp.com/'
