.general-message-wrap.divider-lg
  .clearfix
    %img.img-circle.logo-size.inlide-block.pull-left{src: "https://www.smashingmagazine.com/wp-content/uploads/2015/09/smashing-book-5-2-large.jpg"}
    .ml-70
      %div
        .general-message-date.hidden-xs 11/11/16
        .review-rating{"data-score" => "#{review.rating}"}
        .max-240
          .general-message-verified Verified Reviewer
          .general-message-name Rita J. Lewis
      .mb-15
      %p
      = review.body
